:root {
	/* Тут цвет в hsl, нужно только 2 первых значений тут */
	--color: 290, 66%;
}

*{
	font-family: sans-serif;
}

body {
	background: hsl(var(--color), 95%);
	margin: 0;
	font-size: 16px;
}

.header {
	text-align: right;
   	background: hsl(var(--color), 90%);
	color: hsl(var(--color), 10%);
	text-decoration: none;
	padding: 16px;
	padding-bottom: 48px;
   	font-size: 24px;
	border-radius: 0px 0px 16px 16px;
	left: 0;
	position: sticky;
    right: 0;
	top: 0;
    z-index: 1;
	box-shadow: 0px 5px 8px hsla(var(--color), 10%, 0.1);
}

@media screen and (max-width: 522px){
	.header {
		padding-bottom: 80px;
	}
}

.header a {
	color: hsl(var(--color), 10%);
	text-decoration: none;
    margin-left: 12px;
}

.header .sitename {
	float: left;
}

.header .href {
	margin-left: 12px;
	float: right;
}

.main_app {
	margin: 0 auto;
	max-width: 580px;
}

.main {
	color: hsl(var(--color), 20%);
	background: hsl(var(--color), 70%);
    padding: 16px;
	border-radius: 16px;
	margin: 8px;
}

.main .img50 {
	border-radius: 25px;
}

.main .img100 {
	border-radius: 50px;
}

.main .info {
	color: hsl(var(--color), 20%);
	padding: 8px;
	padding-top: 32px;
}

.main a {
	color: hsl(var(--color), 20%);
	text-decoration: none;
}

.user1 a {
	color: hsl(var(--color), 20%);
	text-decoration: none;
}

.main .changeuser {
	float: right;
}

.head {
	display: block;
	background: hsl(var(--color), 80%);
	padding: 16px;
	margin: 8px;
	margin-bottom: 0px;
	text-align: center;
	color: hsl(var(--color), 20%);
	border-radius: 16px;
}

/* Для постов */

.wall {
	text-align: left;
}

.posting {
	display: block;
	background: hsl(var(--color), 70%);
	color: hsl(var(--color), 20%);
	margin: 8px;
	padding: 16px;
	border-radius: 16px;
}

.posting .postarea {
	display: block;
	background: hsl(var(--color), 90%);
	border: none;
	resize: none;
	padding: 16px;
	border-radius: 16px 16px 0px 0px;
	width: 100%;
	min-height: 200px;
}

.posting .do_post {
	display: block;
	font-size: 16px;
	background: hsl(var(--color), 80%);
	width: 100%;
	padding: 16px;
	border: none;
	border-radius: 0px 0px 16px 16px;
	margin-bottom: 16px;
}

.posting .detail input{
	width: 100%;
	padding-top: 16px;
}

.post {
	display: block;
	background: hsl(var(--color), 90%);
	margin: 16px;
	padding: 16px;
	border-radius: 16px;
	color: hsl(var(--color), 0%);
	text-decoration: none;
	box-shadow: 0px 0px 8px hsla(var(--color), 10%, 0.2);
}

.post .user {
	color: hsl(var(--color), 10%);
	text-decoration: none;
}

.post a .material-symbols-outlined {
	float: right;
	margin-left: 8px;
	color: hsl(var(--color), 10%);
	text-decoration: none;
}

.post .date {
	color: darkgray;
}

.user a {
	color: hsl(var(--color), 10%);
	text-decoration: none;
}


.post img {
	border-radius: 16px;
	margin-top: 8px;
	width: 100%;
}

.back {
	width: 30%;
	display: block;
	float: left;
	background: hsl(var(--color), 90%);
	margin: 16px;
	padding: 16px;
	border-radius: 16px;
	color: hsl(var(--color), 0%);
	text-decoration: none;
	box-shadow: 0px 0px 8px hsla(var(--color), 10%, 0.2);
}

.next {
	width: 30%;
	float: right;
	display: block;
	background: hsl(var(--color), 90%);
	margin: 16px;
	padding: 16px;
	border-radius: 16px;
	color: hsl(var(--color), 0%);
	text-decoration: none;
	box-shadow: 0px 0px 8px hsla(var(--color), 10%, 0.2);
}